<div  class="col-sm-12 col-md-6 " >
    <div class="panel panel-default">
        <form class="panel-heading">

            <h1 align="center">Cadastrar Categoria</h1>

            <label>Descrição da Categoria :</label>
            <p><input type="text"  class="form-control"  ng-model="categoria.description"/></p>

            <p>
                <button type="button" class="btn btn-success" ng-click="cadastrarCategorias(categoria)"> Cadastrar Categoria </button>
            </p>


        </form>
    </div>

</div>
