<div>
    <p><H1 align="center">Categoria |{{categoria.description}}</H1></p>
    <code>

        <div  ng-repeat="produto in produtos">
            <div class="col-sm-6 col-md-3 ">
                <div class="thumbnail">
                    <img src="data:image/png;base64, {{produto.img}}"  width="200px" alt="Red dot"  />
                    <div class="caption">
                        <p><b>{{produto.description}}</b></p>
                        <p> Preço: R${{produto.price}}</p>

                        <p>Marca: {{produto.brand}}</p>

                        <p> <button type="button" class="btn btn-primary" ng-click="visualizarProduto(produto.id)"> Visualizar</button>
                            <button type="button" class="btn btn-success" ng-click="colocarNoCarrinho(produto)">Add Carrinho</button></p>
                    </div>
                </div>
            </div>
        </div>



    </code>
    <div class="row">


    </div>
</div>